@keyframes fade {
    0%, 100% {
        opacity: 1;
        stroke-opacity: 1;
    }
    50% {
        color: 0;
        stroke-opacity: 0;
    }
}

:root {
    --size: .5;
	--background: #ebebeb;
    --border-color: #80808020;
	--hard-background: #ddd;
	--soft-background: #eee;
	--text: #1b1b1b;
	--stroke: skyblue;
	--fill: violet;
}

html, a {
    color: var(--text);
	max-height: 100vh;
}

body {
	height: 100vh;
	margin: 0;
	overflow: hidden;
}

svg#view {
	background-color: var(--background);
	display: block;
	width: 100vw;
	height: 100%;
	pointer-events: none;
}

:not(label):has(> input:is([type="checkbox"],[type="radio"]):not(:checked)) {
    display: none !important;
}

/* :not(label):has(> :checked) {
    display: revert-layer !important;
} */

#container {
	height: 100%;
	position: relative;
	touch-action: none;
}

user-interface > section {
	margin: 10px;
	/* max-height: 50vmin; */
	max-width: 50vmin;
	overflow: hidden;
	position: absolute;
	z-index: 0;
}

user-interface .bottom {
	bottom: 0;
}

user-interface .left {
	left: 0;
}

user-interface .right {
	right: 0;
	text-align: right;
}

user-interface .top {
	top: 0;
}

#container user-interface section.left.top label[for]::before {
	content: "Show "
}

#container user-interface section.left.top:has(#toolbar-dropdown:checked) > label[for=toolbar-dropdown]::before,
#container user-interface section.left.top:has(#advanced-tools:checked) label[for=advanced-tools]::before {
	content: "Hide "
}

/* #container user-interface section.left.top :has(> :checked) ~ label[for]::before {
	content: "Hide "
} */

label.button {
	line-height: 3rem;
}

#container user-interface section.left.top .toolbar {
	display: grid;
	overflow: auto;
	max-height: 50vmin;
}

#container user-interface section.bottom.left .option {
	-webkit-user-select: none;
	font-size: smaller;
	height: 3rem;
	line-height: 3rem;
	overflow: hidden;
	padding: 0 1rem;
	position: relative;
	text-align: center;
	user-select: none;
}

#container user-interface section.bottom.left .option.disabled {
	opacity: .5;
	pointer-events: none;
}

#container user-interface section.bottom.left .option input {
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	visibility: hidden;
}

#container user-interface button, #container div#layers button {
	background-color: transparent;
}

#container .overlay {
	align-items: center;
	border-radius: 1rem;
	box-shadow: inset 0px 5px 8px -10px #80808040;
    inset: 0;
	overflow: hidden;
	place-content: center;
	position: absolute;
}

#container div#settings {
	display: none;
    border-radius: 0;
	background-color: #80808008;
	backdrop-filter: blur(2em) brightness(0.8);
	z-index: 40;
}

#container div#settings > nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 40%;
    min-width: 10%;
}

#container div#settings > nav > label {
    text-align: left;
}

#container div#settings > section {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    min-height: 40%;
    min-width: 40%;
}

#container div#layers {
	background-color: #80808008; /* var(--hard-background); */
    backdrop-filter: blur(1px);
	display: none;
	flex-flow: column;
	inset: 15%;
	padding: 2rem;
	z-index: 20;
}

#container div#layers div#layer-container {
	align-items: center;
	display: grid;
    grid-auto-rows: min-content;
	grid-gap: 0.4rem;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
	overflow: auto;
    position: relative;
	width: -webkit-fill-available;
}

/* Automatic layer counter >>>
#container div#layers .layer {
	counter-increment: layer;
}

#container div#layers .layer > div:nth-child(1):after {
	content: counter(layer);
} */

#container div#layers .layer {
	align-items: center;
	border-radius: 10px;
	display: flex;
	flex-flow: column wrap;
	overflow: hidden;
	padding: 0.75rem 1rem;
	place-content: center;
	position: relative;
    user-select: none;
	width: fit-content;
}

#container div#layers .layer:not(#container div#layers .layer.selected)::before {
	content: "";
	opacity: .3;
	width: 100%;
	height: 100%;
	top: inherit;
	left: inherit;
	display: flex;
	overflow: hidden;
	position: absolute;
	pointer-events: none;
	border-radius: inherit;
	background-color: var(--hard-background);
	z-index: -1;
}

#container div#layers .layer:not(#container div#layers .layer.selected):hover::before {
	opacity: .5;
	pointer-events: none;
	background-color: var(--hard-background);
	transition: background-color 100ms;
	z-index: -1;
}

#container div#layers .layer.selected::before {
	content: "";
	opacity: .9;
	width: 100%;
	height: 100%;
	top: inherit;
	left: inherit;
	display: flex;
	overflow: hidden;
	position: absolute;
	border-radius: inherit;
	pointer-events: none;
	background-color: var(--hard-background);
	z-index: -1;
}

#container div#layers .layer input.selector {
	display: inline-block;
	height: 1rem;
	padding: 0;
	width: 2rem;
}

#container div#layers .layer .option {
	display: flex;
	font-size: small;
	overflow: hidden;
	position: relative;
	align-items: center;
	justify-content: center;
}

#container div#layers .layer .option input {
	pointer-events: none;
}

#container div#layers .layer .options {
	/*display: none;*/
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

#container span#settings {
	top: 0;
	right: 0;
	margin: 10px;
	position: absolute;
}

input[type="color"]#colour {
	visibility: hidden;
	position: absolute;
}

line {
	stroke: var(--text);
	stroke-width: calc(8 * var(--size));
	stroke-linecap: round;
	stroke-linejoin: round;
}

path {
	stroke: none;
	fill: var(--text);
}

polyline {
	fill: none;
	stroke: var(--text);
	stroke-linecap: round;
	stroke-linejoin: round;
}

cirlce {
	fill: var(--text);
}

rect {
	fill: var(--text);
}

.highlighted {
    animation: fade 2s ease-in-out infinite;
}

window-frame {
    background-color: var(--background);
    color: #80808080;
    display: grid;
    grid-template-columns: 1fr auto;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

window-frame label {
    font-size: 10px;
    padding: 0 4px;
    position: relative;
    -webkit-app-region: no-drag;
}

window-frame label:hover {
    color: #808080ad;
}

window-frame div[data-position="left"] > * {
    max-height: 1.25rem;
    padding: 0.25rem;
    vertical-align: middle;
}

window-frame div[data-position="right"] {
    display: flex;
    -webkit-app-region: no-drag;
}

window-frame button {
    aspect-ratio: auto;
    background-color: transparent;
    border-radius: 0;
    height: -webkit-fill-available;
    padding: 0.25rem 1rem;
    position: relative;
    vertical-align: middle;
}

window-frame button:hover {
    background-color: #80808030;
    color: var(--text);
}

window-frame button:hover:active {
    background-color: #80808050;
}

window-frame button#maximize[title="Restore"]::before {
    content: "▢";
    position: absolute;
    top: 6px;
    left: 14px;
}

window-frame button#close:hover {
    background-color: hsla(0, 100%, 50%, 0.867);
}

window-frame button#close:hover:active {
    background-color: hsla(0, 100%, 50%, 0.565);
}