html {
	--size: .5;
	--background: #EBEBEB;
	--hard-background: #DDDDDD;
	--soft-background: #EEEEEE;
	--text: #1B1B1B;
	--stroke: skyblue;
	--fill: violet;
	color: var(--text);
	border: none;
}

body {
	margin: 0;
	overflow: hidden;
}

nav {
	display: none;
}

div.content {
	padding: 0;
	overflow: hidden;
}

div#container {
	position: relative;
	touch-action: none;
}

div#container :is(user-interface, mobile-user-interface) :is(top-left-nav, top-right-nav, bottom-left-nav, bottom-right-nav) {
	margin: 10px;
	position: fixed;
	display: inline-block;
	z-index: 0;
}

div#container mobile-user-interface {
	display: none;
}

div#container :is(user-interface, mobile-user-interface) top-left-nav {
	top: 0;
	left: 0;
	z-index: 50;
}

div#container :is(user-interface, mobile-user-interface) top-right-nav {
	top: 0;
	right: 0;
	max-width: 48vw;
	flex-wrap: wrap;
	display: inline-flex;
	justify-content: flex-end;
	z-index: 50;
}

div#container :is(user-interface, mobile-user-interface) bottom-left-nav {
	left: 0;
	bottom: 0;
	z-index: 50;
}

div#container :is(user-interface, mobile-user-interface) bottom-right-nav {
	right: 0;
	bottom: 0;
	z-index: 50;
}

div#container user-interface top-left-nav #toolbar {
	display: none;
	overflow: auto;
	max-height: 43.55vh;
}

div#container user-interface top-left-nav #toolbar #advanced-tools {
	display: none;
	flex-direction: column;
}

div#container user-interface bottom-left-nav .option {
	width: 130px;
	height: 45px;
	display: flex;
	font-size: small;
	overflow: hidden;
	position: relative;
	align-items: center;
	justify-content: center;
}

div#container user-interface bottom-left-nav .option.disabled {
	opacity: .5;
	pointer-events: none;
}

div#container user-interface bottom-left-nav .option input {
	top: 0;
	left: 0;
	position: absolute;
	visibility: hidden;
	pointer-events: none;
}

div#container :is(user-interface, mobile-user-interface) button, div#container div#layers button {
	background-color: transparent;
}

div#container .overlay {
	top: 15vh;
	left: 15vw;
	width: 40vw;
	height: 40vh;
	padding: 5vh 5vw;
	overflow: hidden;
	position: absolute;
	align-items: center;
	border-radius: 20px;
	place-content: center;
	flex-flow: row wrap;
	box-shadow: inset 0px 5px 8px -10px #ffffff80;
}

div#container iframe#patch-notes-iframe {
	top: 20vh;
	width: 70vw;
	height: 60vh;
	border: none;
	opacity: .95;
	padding: 2px;
	border-radius: 30px;
	flex-flow: column wrap;
	background-color: var(--border-color);
	z-index: 20;
}

div#container div#settings {
	top: 10vh;
	left: 10vw;
	width: 70vw;
	height: 70vh;
	display: none;
	background-color: #ffffff30;
	backdrop-filter: blur(2em);
	z-index: 40;
}

div#container div#layers {
	display: none;
	border-radius: 30px;
	flex-flow: column;
	padding: 10vh 15vw 20vh;
	background-color: #ffffff20; /* var(--hard-background); */
	z-index: 20;
}

div#container div#layers div#layer-container {
	display: flex;
	overflow: auto;
	flex-wrap: wrap;
	max-width: 53vw;
	width: max-content;
	align-items: center;
	flex-direction: row;
	max-height: 80%;
}

div#container div#layers .layer {
	margin: 10px;
	padding: 10px;
	display: flex;
	overflow: hidden;
	position: relative;
	align-items: center;
	border-radius: 10px;
	place-content: center;
	flex-flow: column wrap;
}

div#container div#layers .layer:not(div#container div#layers .layer.selected)::before {
	content: "";
	opacity: .3;
	width: 100%;
	height: 100%;
	top: inherit;
	left: inherit;
	display: flex;
	overflow: hidden;
	position: absolute;
	pointer-events: none;
	border-radius: inherit;
	background-color: var(--hard-background);
	z-index: -1;
}

div#container div#layers .layer:not(div#container div#layers .layer.selected):hover::before {
	opacity: .5;
	pointer-events: none;
	background-color: var(--hard-background);
	transition: background-color 100ms;
	z-index: -1;
}

div#container div#layers .layer.selected::before {
	content: "";
	opacity: .9;
	width: 100%;
	height: 100%;
	top: inherit;
	left: inherit;
	display: flex;
	overflow: hidden;
	position: absolute;
	border-radius: inherit;
	pointer-events: none;
	background-color: var(--hard-background);
	z-index: -1;
}

div#container div#layers .layer input.selector {
	display: inline-block;
	width: 30px;
	height: 20px;
}

div#container div#layers .layer .option {
	width: 130px;
	height: 45px;
	display: flex;
	font-size: small;
	overflow: hidden;
	position: relative;
	align-items: center;
	justify-content: center;
}

div#container div#layers .layer .option input {
	margin-right: 8px;
	pointer-events: none;
}


div#container div#layers .layer .options {
	/*display: none;*/
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

div#container span#settings {
	top: 0;
	right: 0;
	margin: 10px;
	position: absolute;
}

input[type="color"]#colour {
	visibility: hidden;
	position: absolute;
}

svg#view {
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	background-color: var(--background);
}

line {
	stroke: var(--text);
	stroke-width: calc(8 * var(--size));
	stroke-linecap: round;
	stroke-linejoin: round;
}

path {
	stroke: none;
	fill: var(--text);
}

polyline {
	fill: none;
	stroke: var(--text);
	stroke-linecap: round;
	stroke-linejoin: round;
}

cirlce {
	fill: var(--text);
}

rect {
	fill: var(--text);
}

@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
	div#container user-interface, div#container user-interface * {
		display: none;
	}

	div#container mobile-user-interface {
		display: block;
	}
}